<section class="section section--one" id="section--one">
    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">

            <ul class="meta-list">
                <span class="meta-list__item meta-list__item--author">{{ vocab.author_name }}</span>
                <span class="meta-list__item meta-list__item--role">{{ vocab.bbc_news }}</span>
                <time class="meta-list__item meta-list__item--timestamp" datetime="2016-04-01">{{ vocab.timestamp }}</time>
                <span class="meta-list__item meta-list__item--topic">
                    <a href="{{ vocab.topic_link }}">{{ vocab.topic_label }}</a>
                </span>
            </ul>
            <div class="meta-list__border clearfix"></div>

            <p class="intro">
                {{ vocab.intro_para_1 }}
            </p>
            <p>
                {{ vocab.intro_para_2 }}
            </p>
             <p>
                {{ vocab.intro_para_3 }}
            </p>
             <p>
                {{ vocab.intro_para_4 }}
            </p>

            <p class="intro--stat intro--stat--one">
                {{{ vocab.stat_text_1 }}}
            </p>
            <p class="intro--stat intro--stat--two">
                {{{ vocab.stat_text_2 }}}
            </p>

        </div>
    </div>
</section>

